body {
  background: linear-gradient(
    90deg,
    rgb(2, 0, 36),
    rgb(9, 9, 108),
    rgb(2, 0, 36)
  );
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS", sans-serif;
}

header {
  width: 100%;
  /* clear: both; */
}

header h2 {
  color: orange;
  text-align: center;
  font-size: 72px;
}

nav {
  opacity: 90%;
  background-color: gray;
  overflow: hidden;
  width: 100%;
}

nav a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  color: black;
}

nav a:hover {
  background-color: #dddddda9;
}

nav a.active {
  background-color: #ddd;
}

#news{
  background-color: blueviolet;
  height: 300px;
}

#news * {
  margin: 0;
}

#formularz_bilety {
  display: none;
  position: fixed;
  bottom: 20%;
  border: 3px solid #f1f1f1;
  z-index: 8;
  background-color: orange;
  width: 80%;
  height: 60%;
  padding: 5px;
  text-align: center;
  padding-bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
}

@media only screen and (min-width: 1080px) {
  #formularz_bilety {
    width: 864px;
  }
}

#fl,
#fr {
  float: left;
  width: 50%;
}

#fl img {
  height: 550px;
  max-width: 98%;
}











main {
  min-height: 700px;
  width: 100%;
  margin: 0;
}

table, tbody, tr {
  gap: 0px;
  width: 100%;
  align-content: center;
  border-spacing: 0px;
}

/* 
.film_box {
  background-color: chocolate;
  margin: 10px;
  border: 1px solid rebeccapurple;
  width: 250px;
  float: left;
  text-align: center;
} */

.day {
  background-color: chocolate;
  border: 1px solid rebeccapurple;
  text-align: left;
  padding: 5px 5px  5px 10px;
  width: 14%;
}

.active {
  background-color: gray;
  scale: 1.001;
  transition-duration: 0.5s;
  transition-property: background-color, scale;
}

.day:hover {
  background-color: rebeccapurple;
  scale: 1.001;
  transition-duration: 0.5s;
  transition-property: background-color, scale;
}

.seans {
  background-color: gray;
  border: 1px solid rebeccapurple;
  text-align: left;
  padding: 5px 5px  5px 10px;
}

.seans:hover {
  background-color: rebeccapurple;
  scale: 1.001;
  transition-duration: 0.5s;
  transition-property: background-color, scale;
}



/* table tbody th {
  background-color: darkred;
} */

/* .film_box:hover {
  background-color: antiquewhite;
  scale: 1.05;
  transition-duration: 0.5s;
  transition-property: background-color, scale;
} */















#kontakt {
  padding: 4px;
  text-align: center;
  background-color: orange;
  opacity: 60%;
}

footer {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 0.7791491596638656) 55%,
    rgba(18, 9, 121, 1) 100%
  );
  color: white;
}

#zap_b {
  min-height: 300px;
  background-color: gray;
  padding: 10px;
  margin: 10px;
}

#zap_b table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#zap_b table th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}

#bg_admin {
  padding: 5px;
  width: 100%;
  min-height: 60%;
  overflow: auto;
  clear: both;
}

.admin_box {
  background-color: chocolate;
  margin: 10px;
  border: 1px solid rebeccapurple;
  width: 40%;
  float: left;
  text-align: center;
  padding: 3px;
}

#form_logowanie{
  border: 3px solid #f1f1f1;
  background-color: orange;
  width: 80%;
  padding: 5px;
  margin: 20px;
  padding-bottom: 15px;
  left: 50%;
  bottom: 50%;
}

#cennik_table{
  width: 100%;
}

#cennik_table th, td{
  text-align: center;
  border: #ddd 1px  solid;
}

#logout {
  padding: 3px;
  margin: 10px;
}

#logout a{
  text-decoration: none;
  color: black;
  background-color: red;
}