html {
  scroll-behavior: smooth;
}

body {
  background: rgba(0, 0, 0, 0.75);
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS", sans-serif;
}

header a {
  text-decoration: none;
  color: orange;
}

/* nav.php template */
header {
  background-color: #001F3F;
  color: #fff;
  padding: 1em;
  text-align: center;
}

header h2 {
  color: #DAA520;
  font-size: 72px;
}
nav {
  background-color: #800020;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

nav ul li {
  margin-left: 5%;
  margin-right: 5%;
  padding: 1rem;
  display: inline;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 23px;
}

nav ul li a:hover {
  color: orange;
}

.active {
  color: orange;
  font-weight: bold;
}

/* news.php template */
#news{
  background-color: orange;
  height: 300px;
}

#news * {
  margin: 0;
}

/* film_shedule.php template */
.dropdown {
  display: flex;
  padding: 10px 0px 10px 50px;
  align-items: center;
}

#flexbox{
  flex: 5;
}

.dropdown label {
  flex: 2;
  font-size: 20px;
}

.dropdown select {
  flex: 2;
  width: 100%;
  background-color: #333;
  color: orange;
  padding: 5px;
  font-size: 20px;
  border-style: none;
  border-radius: 8px;
  margin-right: 50px;
}

#filmy {
  color: orange;
  text-align: center;
  margin-top: 20px;
  margin-top: 20px;
}

.seans {
  background-color: gray;
  font-weight: bold;
  font-size: 28px;
}

.seans:hover {
  background-color: #333;
  transition-duration: 0.5s;
  transition-property: background-color;
}

.seans td {
  text-align: left;
  padding: 10px 10px 10px 40px;
}

/* ticket_form.php template */
#filmShowsContainer {
  background-color: gray;
  display: flex;
  text-align: center;
}

#filmBox{
  padding: 25px 0px 25px 0px;
  flex: 1;
}

#film_img{
  max-width: 95%;
}

#fr{
  flex: 2;
}

#film_str{
  font-size: 40px;
  font-style: bold;
}

.film_str{
  color: white;
  font-size: 20px;
  padding: 0px 0px 0px 20px;
}

#buyTicketButton {
  width: 35%;
  background-color: #333;
  color: orange;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin: 10px;
}

#buyTicketButton:hover {
  background-color: orange;
  color: white;
  transition-duration: 1s;
  transition-property: background-color, color;
}

/* buy_ticket.php template */

/* footer.php template */
footer {
  background-color: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
}







#main-content {
  padding: 20px;
}

#formularz_bilety {
  position: fixed;
  bottom: 20%;
  border: 3px solid #f1f1f1;
  z-index: 8;
  background-color: orange;
  width: 80%;
  height: 60%;
  padding: 5px;
  text-align: center;
  padding-bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
}













main {
  min-height: 700px;
  width: 100%;
  margin: 0;
}

table, tbody, tr {
  gap: 0px;
  width: 100%;
  align-content: center;
  border-spacing: 0px;
}

/* 
.film_box {
  background-color: chocolate;
  margin: 10px;
  border: 1px solid rebeccapurple;
  width: 250px;
  float: left;
  text-align: center;
} */







/* table tbody th {
  background-color: darkred;
} */

/* .film_box:hover {
  background-color: antiquewhite;
  scale: 1.05;
  transition-duration: 0.5s;
  transition-property: background-color, scale;
} */















#kontakt {
  padding: 4px;
  text-align: center;
  background-color: #333;
  color: orange;
  opacity: 90%;
  clear: both;
}

#zap_b {
  min-height: 300px;
  background-color: gray;
  padding: 10px;
  margin: 10px;
}

#zap_b table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#zap_b table th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}

#bg_admin {
  padding: 5px;
  width: 100%;
  min-height: 60%;
  overflow: auto;
  clear: both;
}

.admin_box {
  background-color: chocolate;
  margin: 10px;
  border: 1px solid rebeccapurple;
  width: 40%;
  float: left;
  text-align: center;
  padding: 3px;
}

#form_logowanie{
  border: 3px solid #f1f1f1;
  background-color: orange;
  width: 80%;
  padding: 5px;
  margin: 20px;
  padding-bottom: 15px;
  left: 50%;
  bottom: 50%;
}

#cennik_table{
  width: 100%;
}

#cennik_table th, td{
  text-align: center;
  border: #ddd 1px  solid;
}





#logout {
  padding: 3px;
  margin: 10px;
}

#logout a{
  text-decoration: none;
  color: black;
  background-color: red;
}